@page
@model Arbuz.Pages.CopyCenter.Prices.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Удаление</h2>

<h3>Вы уверены что хотите удалить это?</h3>
<div>
    <h4>Цена</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Price.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price.Value)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price.Value)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Price.Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться назад к списку</a>
    </form>
</div>
